section#benefit{

  background-color: white;
}
section#benefit .wrap{
   
  transform: translateX(-70%);
}
section#benefit .wrap p{
  
  font-size: 20px;
  margin-bottom: 50px;
}
section#benefit .wrap a{
  color: #009bfa;
  font-size: 16px;
}
section#benefit .wrap a::after{
  content: "";
  display: inline-block;
  background-image: url(../img/arrow.png);
  width: 23px;
  height: 23px;
  vertical-align: middle;
  background-size: contain;
}