footer {
  
  background-color: white;
  font-size: 14px;
  position: relative;
}
footer .wrap {
  
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr;
  grid-template-rows: auto 70px auto;
  row-gap: 20px;
  width: 890px;
}
footer .wrap h1 {
  
}
footer .wrap h1 a {
  
  font-size: 0;
  background-image: url(../img/lottemembers.png);
  width: 135px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
}
footer .wrap ul.fnb {
}
footer .wrap ul.fnb li {
  
}
footer .wrap ul.fnb li a {
  
  padding: 0 20px;
  line-height: 2;
  display: block;
  color: #555;
}
footer .wrap ul.fnb li:nth-child(1) a {
  padding-left: 0;
}
footer .wrap ul.fnb li a:hover{
  color: #333;
}
footer .wrap ul.fnb li:nth-child(3) a{
  
  font-weight: bold;
}
footer .wrap u footer .wrap .sns{
  gap: 15px;
}
footer .wrap .sns {
  
  grid-column: 4;
  gap: 15px;
  transform: translateX(120px);
}
footer .wrap .sns li {
   
}
footer .wrap .sns li a {
  font-size: 0;
}
footer .wrap .sns li a i{
  font-size: 30px;
  color: #999;
}
footer .wrap address {
  
  grid-column: 2 / span 2;
  color: #999;
  line-height: 2;
}
footer .wrap address span{
   
}
footer .wrap address a {
  
  text-decoration: underline;
}
footer .wrap > p {
  
  grid-column: 2;
}
footer .wrap .combobox {
  
  grid-column: 3 / span 2;
  gap: 7px;
}
footer .wrap .combobox .partner {
  
  position: relative;
}
footer .wrap .combobox .partner button {
  width: 200px;
  height: 40px;
  border: 1px solid #fff;
  text-align: left;
  padding-left: 20px;
  box-sizing: border-box;
  cursor: pointer;
  appearance: none;
  
  display: flex;
  align-items: center;
}
footer .wrap .combobox .partner button::after{
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(../img/expand.svg);
  background-origin: content-box;
  position: absolute;
  right: 12px;
  transition: transform 0.3s ease;
}
footer .wrap .combobox .partner button.arrow::after{
  transform: rotate(180deg);
}
footer .wrap .combobox .partner dl {
  
  position: absolute;
  bottom: 39px;
  left: 0;
  background-color: #f4f4f4;
  width: 100%;
  padding: 20px 12px;
  border: 1px solid #eee;
  box-sizing: border-box;
  display: none;
}
footer .wrap .combobox .partner dl dt {
  
  font-weight: bold;
  padding: 6px 0;
}
footer .wrap .combobox .partner dl dd {
  line-height: 2;
}
footer .wrap .combobox .partner dl dd:hover{
  text-decoration: underline;
  color: #222;
}
footer .wrap .combobox .partner dd {
  
}
footer .wrap .combobox .lang {
  
  position: relative;
}
footer .wrap .combobox .lang button {
  width: 200px;
  height: 40px;
  border: 1px solid #ccc;
  text-align: left;
  padding-left: 20px;
  box-sizing: border-box;
  background-color: white;
  cursor: pointer;
 
  display: flex;
  align-items: center;
}
footer .wrap .combobox .lang button::after{
  content: "";
  display: inline-block;
  background-image: url(../img/expand.svg);
  background-origin: content-box;
  width: 24px;
  height: 24px;
  position: absolute;
  right: 12px;
  transition: transform 0.3s ease;
}
footer .wrap .combobox .lang button.arrow::after{
  transform: rotate(180deg);
}
footer .wrap .combobox .lang ul {
  position: absolute;
  bottom: 39px;
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  width: 100%;
  padding: 5px 16px;
  box-sizing: border-box;
  display: none;
}
footer .wrap .combobox .lang ul li {
  
  line-height: 1.8;
}
footer .wrap .combobox .lang ul li a {
  
}
a.top{
  
  width: 40px;
  height: 40px;
  display: block;
  box-shadow: 0 0 5px #333;
  border-radius: 50%;
  position: absolute;
  right: calc((100% - 1080px) / 2 - 80px);
  top: -80px;
  text-align: center;
  line-height: 40px;
  background-color: white;
}