main{

}
section:nth-child(odd){
  background-color: #eee;
}
section#point{

  height: 100vh;
  background-color: rgb(255,202,0);
}
section#point .wrap{

}
section#point .wrap>*{
  transform: translateX(50%);
  margin-left: 70px;
}
section#point .wrap h2{
   
}
section#point .wrap p{
   
}